<div class="container">
  <div class="columns is-centered">
    <div class="column is-half">
      <div class="box">
        <h1 class="title is-3">Sign up</h1>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="field">
            <%= f.label :email, class: "label" %>
            <div class="control">
              <%= f.email_field :email, autofocus: true, class: "input" %>
            </div>
          </div>

          <div class="field">
            <%= f.label :password, class: "label" %>
            <div class="control">
              <%= f.password_field :password, class: "input" %>
            </div>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, class: "label" %>
            <div class="control">
              <%= f.password_field :password_confirmation, class: "input" %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.submit "Sign up", class: "button is-primary is-fullwidth" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="columns is-centered">
    <div class="column is-half">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
