<%= turbo_stream_from "user_#{current_user.id}_crypto_assets" %>

<div class="container">
  <div class="columns is-centered">
    <div class="column">
      <div class="box">
        <h1 class="title is-3">Welcome to your Crypto App!</h1>
        <div>Welcome, <%= current_user.email %>!</div>

        <div id="player-crypto-assets">
          <%= render partial: 'player_crypto_assets_list', locals: { crypto_assets: @crypto_assets, common_balance: @common_balance } %>
        </div>


        <%= link_to 'Add crypto asset', new_crypto_asset_path, class: 'btn btn-primary' %>
      </div>

      <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
    </div>
  </div>
</div>
